h1= title
.container
  - each article in articles
    div(class="articles "+article.channel, id: article.furl)
      .fit
        h2
          a(href=article.link, class="title", id: article.id) #{article.title}
        .picture
          a(href=article.link, id: article.id)
            img(src=article.pic)
        - if (article.summary.length > 0)  
          #content!=article.summary
        - else
          #content!=article.content