
ul#remote
  li.channel
    h1
      a(href="#", data-filter="*") All
  - each chan in channels
    li.channel
      h1
        a(href='#', data-filter="."+chan) #{chan}

#console
  - each feed in feeds
    - each title in feed.titles
      div(class="articles "+feed.chans.toString().replace(/,/g,' '), data-score=title[2])
        h2
          a(href=title[3], class="title")
            =title[0]

script(type='text/javascript', src='/javascripts/front.js')

//    div(class="articles "+article[a].channel.toString().replace(/,/g,' '), data-category: article[a].channel, data-score: article[a].content[1], id: article[a].content[2])
//      .fit
//        h2
//          a(href=article[a].content[3], class="title") #{article[a].content[0]}
//        h4
//          a(href=articles[a].feed class="source") #{article[a].content[2]}