h1= title
ul.sort
  li.video 
    h2 
      a(href="#video") Video
  li.comics
    h2
      a(href="#comics") Comics
  li.culture 
    h2
      a(href="#culture") Culture
  li.music 
    h2
      a(href="#music") Music
  li.relevision 
    h2
      a(href="#relevision") Relevision
  li.POLITICS 
    h2
      a(href="#POLITICS") Politics
  li.science
    h2
      a(href="#science") Science
  li.reading
    h2
      a(href="#reading") Reading
.container
  - each article in articles
    div(class="articles "+article.channel, data-category: article.channel, data-score: article.score, id: article.furl)
      .fit
        h2
          a(href=article.link, class="title", id: article.id) #{article.title}
        .picture
          a(href=article.link, id: article.id)
            img(src=article.pic)
        - if (article.summary.length > 0)  
          #content!=article.summary
        - else
          #content!=article.content