h1= title
ul.sort
  li.video 
    h2 
      a(href="#video") Video
  li.comics
    a(href="#comics") h2 Comics
  li.culture 
    a(href="#culture") h2 Culture
  li.music 
    a(href="#music") h2 Music
  li.relevision 
    a(href="#relevision") h2 Relevision
  li.POLITICS 
    a(href="#POLITICS") h2 Politics
  li.science
    a(href="#science") h2 Science
  li.reading
    a(href="#reading") h2 Reading
.container
  - each article in articles
    div(class="articles "+article.channel, data-category: article.channel, data-score: article.score, id: article.furl)
      .fit
        h2
          a(href=article.link, class="title", id: article.id) #{article.title}
        .picture
          a(href=article.link, id: article.id)
            img(src=article.pic)
        - if (article.summary.length > 0)  
          #content!=article.summary
        - else
          #content!=article.content