h1= title
ul#filter
  li.all
    h2
      a(href="#", data-filter="*") All
  li.video 
    h2 
      a(href="#", data-filter=".video") Video
  li.comics
    h2
      a(href="#", data-filter=".comics") Comics
  li.culture 
    h2
      a(href="#", data-filter=".culture") Culture
  li.music 
    h2
      a(href="#", data-filter=".music") Music
  li.relevision 
    h2
      a(href="#", data-filter=".relevision") Relevison
  li.POLITICS 
    h2
      a(href="#", data-filter=".POLITICS") Politics
  li.science
    h2
      a(href="#", data-filter=".science") Science
  li.reading
    h2
      a(href="#", data-filter=".reading") Reading
- if (admin == 1)
  #container
    - each article in articles
      div(class="articles "+article.channel, data-category: article.channel, data-score: article.score, id: article.furl)
        .fit
          h2
            //a(href="/delete/item/"+encodeURIComponent(article.furl)+"/"+encodeURIComponent(article.title), class="admin") delete
            a(href=article.link, class="title") #{article.title}
- else
  #container
    - each article in articles
      div(class="articles "+article.channel, data-category: article.channel, data-score: article.score, id: article.furl)
        .fit
          h2
            a(href=article.link, class="title") #{article.title}
script(type='text/javascript', src='/javascripts/jquery-1.4.4.min.js')
script(type='text/javascript', src='/javascripts/jquery.isotope.min.js')
script(type='text/javascript', src='/javascripts/front.js')
