h1= title
#articles
  - each article in articles
    div(class: article.channel)
      .title 
        a(href=article.link, id: article.id) #{article.title}
      .picture
        a(href=article.link, id: article.id)
          img(src=article.pic)
      - if article.summary  
        content!=article.summary
      - else
        content!=article.content