h1= title
#articles
  - each article in articles
    .articles
      .title 
        a(href=article.link, id: article.id) #{article.title}
      .picture
        a(href=article.link, id: article.id)
          img(src=article.pic)  
      .body #{article.content}