h1= title
.content
  - each article in articles
    div(class="articles", id: article.channel)
      .title 
        a(href=article.link, id: article.id) #{article.title}
      .picture
        a(href=article.link, id: article.id)
          img(src=article.pic)
      - if (article.summary.length > 0)  
        content!=article.summary
      - else
        content!=article.content